@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');

:root {
    --blue: #218491;
    --white-grey: #F1F1F1;
    --light-grey: #8b8b8b;
    --dark-grey: #262626;
}

* {
    font-family: 'Manrope', sans-serif;
    letter-spacing: 0px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
}

h1, h2 {
    font-weight: bold;
}

a {
    text-decoration: none;
    display: block;
    color: black;
}

    a:hover {
        color: black;
    }

/*custom link*/
.custom-link {
    background-color: var(--blue);
    color: white;
    padding: 15px 0px;
    text-align: center;
    width: 150px;
    border-radius: 1000px;
}

    .custom-link:hover {
        background-color: var(--dark-grey);
        color: white;
    }

.custom-link-grey {
    background-color: var(--dark-grey) !important;
    color: white !important;
}

    .custom-link-grey:hover {
        background-color: white !important;
        color: var(--dark-grey) !important;
    }
/*animated-link*/
.animated-link {
    display:flex;
    transition: all 0.3s;
    font-weight: bold;
    font-size: 15px;
    align-items: center;
}

    .animated-link::before, .animated-link::after {
        display: block;
        content: "";
        height: 2px;
        background-color: var(--blue);
        transition: all 0.3s;
    }

    .animated-link::after {
        width: 40px;
        opacity: 1;
        margin-left:20px;
    }

    .animated-link:hover::after {
        width: 0px !important;
        opacity: 0;
    }

    .animated-link::before {
        width: 0px;
        opacity: 0;
    }
    .animated-link:hover::before {
        width: 40px !important;
        opacity: 1;
        margin-right: 20px;
    }
