@model List<purelab.Models.Post>
@using System.Linq
@{
    List<Post> res = Model.Where(post => post.ImageUrl.Contains("cover")).ToList();
}

<div class="container-fluid" style="background-color: var(--white-grey)">
    <div class="row justify-content-center pt-5">
        <div class="col-sm-6 col-12">
            <h2 style="color: var(--blue)">Latest from the blog</h2>
            <p style="color: var(--light-grey)">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
        </div>
    </div>
    <div class="row w-sm-75 m-auto flew-wrap justify-content-center pb-5">
        @foreach (var post in res)
        {
            <partial name="LatestPost/_LatestPostPreview" model="post" />
        }
    </div>
</div>